// Mixins Here
.flex (@direction, @wrap) {
    display: flex;
    flex-direction: @direction;
    flex-wrap: @wrap;
}

.button () {
    display: block;
    background: @bg-color;
    width: @width;
    height: @height;
    font-size: 1.8rem;
    border-radius: 5px;
    color: @ft-color;

    &:hover {
        background: @ft-color;
        color: @bg-color;
    }
}