// Navigation code here

nav {
    .flex(column, no-wrap);
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background: @nav-bg;
    text-align: center;
    padding: 1%;

    h1 {
        font-size: 3.8rem;
        padding: 2%;
    }

    a {
        font-size: 1.6rem;
        text-decoration: none;
        color: black;
        margin: 2%;
    }
}